@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');
body{
    font-family: 'Jost', sans-serif;
    background: #eee;
}

h1{
    text-align: center;
    margin-bottom: 50%;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    width: 100%;
    min-height: 200vh;
    align-items: flex-end;
    padding-bottom: 20%;
}

.box{
    height: 200px;
    background: #333;
    color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}